<div class="container">
  <h1> <%=@question.title%></h1>
  <h3> <%=@question.content %></h3>
	
	<% @question_comments.each do |comment|%>
		<% if comment.commentable_id == @question.id %>
		  <div class="comment"><p>Comment <%=comment.id%>:  <%=comment.content%></p></div>
		<%end%>
	<%end%>
		<div>
			<center>
			<form action=<%="/questions/#{@question.id}/comments"%> method="post">
		  	<input type="text" name="comment[content]" placeholder="Content" >
		    <input type="hidden" name="comment[user_id]" value="<%= current_user.id %>" >
		    <input type="hidden" name="comment[commentable_id]" value="<%= @question.id %>" >
		    <input type="hidden" name="comment[commentable_type]" value="Question" >
		    <input id="question-button-rt" type="submit" value="Add comment">
	  	</form>
			</center>
		</div>

	

  <a href="/questions/<%=@question.id%>/answers/new">Create an answer</a>

 <div id="answer">
  <%@answers.each do |answer|%>
  	<p>Answer <%=answer.id%>:  <%=answer.content%></p>
		<% @answer_comments.each do |comment|%>
			<% if comment.commentable_id == answer.id %>
	  		<p>Comment <%=comment.id%>:  <%=comment.content%></p>
	  	<%end%>
		<%end%>
		<div>
			<center>
			<form action=<%="/answers/#{answer.id}/comments"%> method="post">
		  	<input type="text" name="comment[content]" placeholder="Content" >
		    <input type="hidden" name="comment[user_id]" value="<%= current_user.id %>" >
		    <input type="hidden" name="comment[commentable_id]" value="<%= answer.id %>" >
		    <input type="hidden" name="comment[commentable_type]" value="Answer" >
		    <input id="question-button-rt" type="submit" value="Add comment">
	  	</form>
			</center>
		</div>
	<%end%>
  </div>
</div>
